#content {
  background-color: #F6546A;
  margin: auto;
  width: 100%;
  max-width: 1000px;
  border: 1px solid #000000;
  padding-bottom: 20px;
}

#main-title,
#user-info,
#auth-failed,
#create-event-form,
#categories-container,
#events-container,
#detailed-event-container {
  margin-left: 20px;
  margin-right: 20px;
}

#auth-failed {
  margin: auto;
  width: 100%;
}

#user-info {
  font-size: 12pt;
  display: none;
  height: 50px;
}

#user-logged-in {
  font-weight: bold;
}

.user-image {
  height: 30px;
  border: 1px black solid;
}

#user-name {
  margin-right: 5px;
}

#create-event-form,
#categories-container,
#events-container,
#detailed-event-container {
  display: none;
}

#detailed-event {
  border: 1px black solid;
  background-color: #F0F8FF;
  padding: 15px;
  margin-top: 15px;
}

.map {
  height: 300px;
  width: 100%;
}

.category-thumbnail {
  height: 40px;
  border: 2px black solid;
}

.category-title,
.event-name {
  font-size: 14pt;
  font-weight: bold;
}

.category-description {
  font-size: 10pt;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}
